* {
  /* font-family: "Montserrat", sans-serif; */
}

body {
  background: #000000;
  padding: 0 16px;
  color: #ccc;
}

.note {
  background: rgb(215, 216, 209);
  border-radius: 7px;
  padding: 10px;
  /* width: 450px; */
  margin: 16px;
  float: left;
}

.cardTitle {
  font-weight: bold;
  align-items: center;
  text-align: center;
  border-bottom: 4px solid black;
  padding-top: 5px;
}

.pubDate {
  font-family: "McLaren", cursive;
  font-weight: bold;
}

.dateDiv {
  font-weight: bold;
  align-items: left;
  text-align: left;
}

.newsCard {
  background: rgb(246, 247, 245);
  border-radius: 7px;
  padding: 10px;
  width: 350px;
  margin: 16px;
  /* float: left; */
  color: #000000;
  width: 450px;
}

.newsCard h2 {
  font-weight: bolder;
  text-align: center;
}

.newsCard p {
  font-size: 1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.newsCard h4 {
  color: grey;
}

.newsCard hr {
  border: 2px solid #000000;
}

.url_link {
  padding-bottom: 13px;
  padding-left: 8px;
}

.imgEl {
  display: flex;
  justify-content: center;
  align-items: center;
}

.categoryName {
  color: red;
}

.item {
  padding: 1em;
  list-style-type: none;
  border-radius: 6px;
  margin-bottom: 1em;
  background: #fff;
  box-shadow: 0px 2px 6px 2px #0002;
}

.item .thumbnail {
  float: right;
  box-shadow: 0px 1px 1px 1px #0002;
  border-radius: 12px;
  margin-left: 1em;
  margin-bottom: 1em;
}

.item .provider-thumbnail {
  margin-right: 0.5em;
}

.item .meta {
  font-size: 80%;
  font-weight: bold;
  color: #555;
}